include LICENSE
include *.py
include *.rst
include *.yaml
include tox.ini
recursive-include tests *.py

include docs/Makefile
include docs/conf.py
include docs/index.rst
include docs/make.bat

recursive-include example *.css
recursive-include example *.html
recursive-include example *.py
