include LICENSE
include *.py
include *.rst
include *.yaml
include *.toml
include tox.ini
recursive-include tests *.py

include docs/Makefile
include docs/conf.py
include docs/index.rst
include docs/make.bat

